/* This file is for your main application css. */
@import "./phoenix.css";

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}

header {
  background: #212121;
  border-bottom: 0;
}

body {
  background-color: #212121;
  color: #F5F5F5;
}

input {
  color: #F5F5F5;
}

p {
  margin-bottom: 0.2rem;
}

.connection-card {
  display: flex;
  background-color: #434343;
  margin: 1rem;
  border-radius: 1rem;
  padding: 0.5rem;
  padding-right: 1rem;
  max-width: 30%;
  overflow-wrap: break-word;

  .connection-image {
    width: 8rem;
    height: 8rem;
    padding: 0.5rem;
  }

  .connection-text-container {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .connection-app {

    }
    .connection-text {

    }
  }
}
