<%#
  assigns:
  @name name of the connection
  @desc additional info to be displayed below
%>

<div class="social-card bg-twitter flex flex-row">
  <div class="mr-4">
    <%= component "icon", icon: "twitter" %>

    <div class="flex flex-col">
      <span class="mr-1 text-sm">
        <%= @name %>
      </span>

      <span class="mr-1 text-sm font-medium">
        <%= @desc %>
      </span>
    </div>
  </div>
</div>
