<%#
  assigns:
  @name name of the connection
  @desc additional info to be displayed below
  @type used to determine color and logo
%>

<div class="social-card bg-<%= @type %> flex flex-row">
  <div>
    <%= component "icon", icon: @type %>

    <div class="flex flex-col">
      <span class="text-sm">
        <%= @name %>
      </span>

      <span class="text-sm font-medium">
        <%= @desc %>
      </span>
    </div>
  </div>
</div>
